spring:
  profiles:
    active: dev
  config:
    import: application-service.yaml
---
spring:
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  config:
    activate:
      on-profile: dev
