spring:
  profiles:
    active: dev
  jpa:
    defer-datasource-initialization: true
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

slack:
  app:
    channel: "#team-ê´Œ_guam-log"
    token: ""

spring.config.import:
  - classpath:application-db.yaml
  - classpath:application-service.yaml
